{% load staticfiles %}
<!DOCTYPE html>
<html class="has-navbar-fixed-top">
{% include "head/base_head.html" %}
<body style="">
{% include "body/blog_navbar.html" %}
{% block content %}
{% endblock %}
{% include "body/footer.html" %}
<script src="{% static 'blog/js/mobileNavbarToggle.js' %}"></script> 
<!-- Initialise Material Design elements with data-mdc-auto-init properties 
    More Information here -> https://material.io/components/web/catalog/auto-init/ -->
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
<script>mdc.autoInit();</script>
</body>
</html>