{% load staticfiles %}

    <!-- Team -->
    <section class="bg-light" id="team">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Latest Blogs</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
          </div>
        </div>
        <div class="row">

          </div>
            {% for p in news_posts|slice:":3" %}
              <div class="row">
                <div class="col-sm-4">
                  <h4 class="text-center">{{ p.title }}</h4>
                  <p class="text-muted">{{ p.summary }}</p>
                </div>
              </div>
            {% endfor %}
          </div>

        {% comment %} <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'hackfeed' %}">See All</a>

          </div>
        </div> {% endcomment %}



      </div>
    </section>
