{% load staticfiles %}

  <!-- Portfolio Modals -->

    <!-- Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Science Workshops</h2>
                  <p class="item-intro text-muted">Informal Science</p>
                  <img class="img-fluid d-block mx-auto" src="{% static "core/img/portfolio/poster-draft-low-res.png" %}" alt="">
                  <p>Conducted at youth centres and schools, focusing on young people aged between 7-10. Each workshop centres around a particular science theme,
                      e.g ‘When will the sun burn out?’ . The hacking education mentor gives a short introduction, explaining the fundamental science related to the theme.
                      During the introduction, the young people are encouraged to ask questions and are posed questions. The young people then use computers to
                      independently learn and research the answer to their own questions, with guidance from the undergraduate. The aim of these science workshops is to
                      spark scientific curiosity and cultivate the young person’s questioning mind in an informal learning environment.</p>
                  <ul class="list-inline">
{#                    <li>Date: January 2017</li>#}
                      <li>Explore:  <a href="{% url 'scienceHackfeed' %}">scienceHackfeed</a></li>
                    <li>Category: Science, young  people, youth centres</li>
                  </ul>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Programming Projects</h2>
                  <p class="item-intro text-muted">Intersection of science, technology and creativity.</p>
                  <img class="img-fluid d-block mx-auto" src="{% static "core/img/portfolio/board-business-chips-163073.jpg" %}" alt="">
                  <p>Project based learning conducted in schools, for young people aged between 13-16. Taking place
                      over a 12 week period, young people start off with practical coding exercises and then decide
                      on a project, where they create something of their choice. hackingEducation mentors provide
                      assistance and guidance when needed.  E.g One group is creating a revision tool using a
                      Raspberry Pi and the Google Assistant API, giving them practical experience with machine
                      learning and Unix based systems. Young people are then given the opportunity to expand on their
                      project, in an academic setting, during a 3 day workshop hosted at UCL. The aim of the
                      programming projects is to give young people freedom to choose what they learn, and to
                      cultivate the skills at the intersection of science, technology and creativity.</p>
                  <ul class="list-inline">
{#                    <li>Date: January 2017</li>#}
                    <li>Explore:  <a href="{% url 'codingHackfeed' %}">programmingHackfeed</a> </li>
                    <li>Category: Science, technology, creativity & Young People</li>
                  </ul>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Map To Breathe</h2>
                  <p class="item-intro text-muted">Issues & Solutions</p>
                  <img class="img-fluid d-block mx-auto" src="{% static "core/img/portfolio/buildings-cars-jam-34194.jpg" %}" alt="">
                  <p>Health inequity between people of different class, race and gender is a direct result of the effects of low air quality.
                      Humans on average spend 70% of their time indoors, with that number being on the higher side for women especially women of
                      colour. In the mapToBreathe project we’re developing low-cost high accuracy air quality measuring devices to map air quality, specifically indoor air
                      quality in areas of low ventilation. We’re going to find the pollutant hotspots and place specific plants in those hotspots
                      that could reduce the concentration of these pollutants. The project is  going to be completed by a group of 8 sixth
                      form students under the supervision of PhD students. A mapToBreathe will contribute to active research in improving air quality,
                      but we also seek to create agents of change who will further the fight to protect the environment. Please visit www.mapToBreathe.org to find out more</p>
                  <ul class="list-inline">
{#                    <li>Date: January 2017</li>#}
                    <li>Explore: <a href="{% url 'environmentHackfeed' %}">environmentHackfeed</a> & ( www.map2breathe.org comming soon)</li>
                    <li>Category: Environment, young people, air quality</li>
                  </ul>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Magazine</h2>
                  <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                  <img class="img-fluid d-block mx-auto" src="{% static "core/img/portfolio/04-full.jpg" %}" alt="">
                  <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                  <ul class="list-inline">
{#                    <li>Date: January 2017</li>#}
                    <li>Explore: Link to hackfeed filtering here , (</li>
                    <li>Category: Branding</li>
                  </ul>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">A History of Race & Resistance in Britain</h2>
                  <p class="item-intro text-muted">Lecture Series & festival of culture</p>
                  <img class="img-fluid d-block mx-auto" src="{% static "core/img/portfolio/broadcast-broadcasting-camcorder-66134.jpg" %}" alt="">
                  <p>hackingEducation is in the process of planning a history of race project in collaboration with <a href="https://www.consented.co.uk/">Consented</a>. "A History of Race & Resistance in Britain" aims to create a free lecture series on black history in Britain.
                      A curriculum has been devised, and will be delivered by renowned speakers in the field. The history of Race lecture series will take place
                      over 2 days, on the 9th and 10th of August (see our events),  where they will be recorded to create a public online learning resource.The lectures will be interlaced with
                      workshops and performances, producing a festival of culture. As well as being recorded, the event will be open to school
                      children as well as the general public. <a href="https://www.eventbrite.co.uk/e/a-history-of-race-resistance-in-britain-tickets-46437967210?ref=enivtefor001&invite=MTQ0ODE4ODgvaGFyamVldC5rYWxzaUBzb2xpcml1cy5jb20vMA%3D%3D&utm_source=eb_email&utm_medium=email&utm_campaign=inviteformalv2&utm_term=eventpage">Register for the event here!</a>  </p>
                  <ul class="list-inline">
{#                    <li>Date: January 2017</li>#}
                    <li>Explore: <a href="{% url 'historyHackfeed' %}">historyHackFeed</a> & (www.historyofrace.org coming soon)</li>
                    <li>Category: History, Race & Culture</li>
                  </ul>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Magazine</h2>
                  <p class="item-intro text-muted">Young People & Parents</p>
                  <img class="img-fluid d-block mx-auto" src="{% static "core/img/portfolio/Gravity back.png" %}" alt="">
                  <p>Following our science workshops, we are using the content to create a science magazine. The magazine will be a collection
                      of science posters, alongside illustrations created by the young people, to produce a public magazine. Each poster contains
                      information on a science topic, its current areas of research, and poses further questions for the reader to explore.
                      The posters act as self contained science lessons, helping to facilitate independent learning. The magazine will be distributed
                      to schools and families, and will be used for science workshops at youth centers and libraries. The first edition of the magazine
                      is expected to be in print and ready for distribution by November 2018.</p>
                  <ul class="list-inline">
{#                    <li>Date: January 2017</li>#}
                    <li>Explore: magazineHackfeed & (see hackingEducationPrint section coming soon) </li>
                    <li>Category: Photography</li>
                  </ul>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


<!-- Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Mag Name</h2>
                  <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                  <img class="img-fluid d-block mx-auto" src="{% static "core/img/portfolio/06-full.jpg" %}" alt="">
                  <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                  <ul class="list-inline">
{#                    <li>Date: January 2017</li>#}
                    <li>Client: Window</li>
                    <li>Category: Photography</li>
                  </ul>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
