{% extends 'base/base.html' %}

{% block content %}




<body>

    <div class="main-container container is-fluid">
        <div class="this-month">
            <p class="title is-4">Events this month</p>
        </div>

        <div class="columns">
            <div class="column">
                <div class="card event">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="https://i.pinimg.com/736x/85/d0/10/85d010e7e5162cf4994370e2d9d41b62--funny-inspirational-quotes-smart-people.jpg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <p class="date month">Jan</p>
                                <p class="date day">05</p>
                            </div>
                            <div class="media-content">
                                <p class="title is-5">Would Einstein listen to grime?</p>

                                <div class="">
                                    <p class="club">@Edge</p>
                                    <p class="address">200 Street</p>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
            <div class="column">
                <div class="card event">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="http://media-assets-05.thedrum.com/cache/images/thedrum-prod/s3-news-tmp-980-artscience--2x1--940.jpg" alt="Placeholder image">

                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <p class="date month">Jan</p>
                                <p class="date day">18</p>
                            </div>
                            <div class="media-content">
                                <p class="title is-5">Can we use art to break barriers to science?</p>

                                <div class="">
                                    <p class="club">@Hackney</p>
                                    <p class="address">505 Road</p>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card event">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="https://news.upenn.edu/sites/default/files/styles/hero/public/BERNER%20BILL%20EXPERIMENT%20570x370.jpg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <p class="date month">Jan</p>
                                <p class="date day">30</p>
                            </div>
                            <div class="media-content">
                                <p class="title is-5">See Some Science</p>

                                <div class="">
                                    <p class="address">390 Long Road, Dalston</p>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>


        </div>
        <div class="upcoming">
                <p class="title is-4">Upcoming Events</p>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="card event">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="https://i.pinimg.com/736x/85/d0/10/85d010e7e5162cf4994370e2d9d41b62--funny-inspirational-quotes-smart-people.jpg" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <p class="date month">Feb</p>
                                    <p class="date day">4</p>
                                </div>
                                <div class="media-content">
                                    <p class="title is-5">Would Einstein listen to grime?</p>

                                    <div class="">
                                        <p class="club">@Edge</p>
                                        <p class="address">200 Street</p>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
                <div class="column">
                    <div class="card event">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="http://media-assets-05.thedrum.com/cache/images/thedrum-prod/s3-news-tmp-980-artscience--2x1--940.jpg" alt="Placeholder image">

                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <p class="date month">Feb</p>
                                    <p class="date day">15</p>
                                </div>
                                <div class="media-content">
                                    <p class="title is-5">Can we use art to break barriers to science?</p>

                                    <div class="">
                                        <p class="club">@Hackney</p>
                                        <p class="address">505 Road</p>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card event">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="https://news.upenn.edu/sites/default/files/styles/hero/public/BERNER%20BILL%20EXPERIMENT%20570x370.jpg" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <p class="date month">April</p>
                                    <p class="date day">20</p>
                                </div>
                                <div class="media-content">
                                    <p class="title is-5">See Some Science</p>

                                    <div class="">
                                        <p class="address">390 Long Road, Dalston</p>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>


            </div>
    </div>



</body>
{% endblock %}

