{% load staticfiles %}

    <!-- Footer -->
    <!-- agency footer -->
{#    <footer>#}
{#      <div class="container">#}
{#        <div class="row">#}
{#          <div class="col-md-4">#}
{#            <span class="copyright">Copyright &copy; Your Website 2018</span>#}
{#          </div>#}
{#          <div class="col-md-4">#}
{#            <ul class="list-inline social-buttons">#}
{#              <li class="list-inline-item">#}
{#                <a href="#">#}
{#                  <i class="fa fa-twitter"></i>#}
{#                </a>#}
{#              </li>#}
{#              <li class="list-inline-item">#}
{#                <a href="#">#}
{#                  <i class="fa fa-facebook"></i>#}
{#                </a>#}
{#              </li>#}
{#              <li class="list-inline-item">#}
{#                <a href="#">#}
{#                  <i class="fa fa-linkedin"></i>#}
{#                </a>#}
{#              </li>#}
{#            </ul>#}
{#          </div>#}
{#          <div class="col-md-4">#}
{#            <ul class="list-inline quicklinks">#}
{#              <li class="list-inline-item">#}
{#                <a href="#">Privacy Policy</a>#}
{#              </li>#}
{#              <li class="list-inline-item">#}
{#                <a href="#">Terms of Use</a>#}
{#              </li>#}
{#            </ul>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </footer>#}


<footer class="footer">
    <nav class="footer-nav">
        <section class="footer__col">
            <div class="footer__col-wrap">
                <div class="footer__col-title">Explore</div>
            </div>
            <div class="footer__nav-list">
                <a class="footer__link" href="{% url 'hackfeed' %}">HackFeed</a>
                {% comment %} <a class="footer__link" href="{% url 'about' %}">About</a> {% endcomment %}
                {% comment %} <a class="footer__link" href="{% url 'mapToBreathe' %}">mapToBreathe</a> {% endcomment %}
                {% comment %} <a class="footer__link" href="{% url 'subscribe' %}">Subscribe</a> {% endcomment %}
            </div>
        </section>
        <section class="footer__col">
            <div class="footer__col-wrap">
                <div class="footer__col-title">Get In Touch</div>
                <a class="footer__link" href="mailto:example@email.com">info@hackingeducation.io</a>
            </div>
        </section>
        <section class="footer__col">
            <div class="footer__col-wrap">
                <div class="footer__col-title footer__col-title-second">Follow</div>
                <a class="footer__link" href="https://twitter.com">Twitter</a>
                <a class="footer__link" href="https://facebook.com">Facebook</a>
            </div>
        </section>
        <section class="footer__col">
            <div class="footer__col-wrap">
                <div class="footer__col-title">Legal</div>
            </div>
            <a class="footer__link" href="#">Privacy</a>
            <a class="footer__link" href="#">Terms</a>
        </section>
        <small class="footer__legal">© 2018 Hacking Education. All Rights Reserved.</small>
    </nav>
</footer>
