{% load staticfiles %}

<!-- Bootstrap core JavaScript -->
<script src="{% static "core/vendor/jquery/jquery.min.js" %}"></script>
<script src="{% static "core/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

<!-- Plugin JavaScript -->
<script src="{% static "core/vendor/jquery-easing/jquery.easing.min.js" %}"></script>

<!-- Contact form JavaScript -->
<script src="{% static "core/js/jqBootstrapValidation.js" %}"></script>

<!-- Custom scripts for this template -->
<script src="{% static "core/js/agency.min.js" %}"></script>
