{% extends '../base.html' %} 
{% block content %}
{% load martortags %}

<div class="single">
    <div class="single__inner">
        <div class="single__container">
            <div class="single__header">
                <div class="single__title">
                    <h1>
                        {{ post.title }}
                    </h1>
                </div>
                <div class="single__summary">
                    <p>
                        {{ post.summary }}
                    </p>
                </div>
            </div>
        <div class="single__content">
            {{ post.feature.content|safe_markdown }}
        </div>
        <div class="single__tags">
            {% for tag in post.get_tags %}
            <div class="single__tag">
                <a href="{% url 'tag' tag_id=tag.id %}">{{tag.title}}</a>
            </div>
            {% endfor %}
        </div>
        </div>
    </div>
</div>
{% endblock %}
