{% load staticfiles %}

<nav class="navbar is-link is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a href="/" class="navbar-item has-text-weight-bold is-size-5">
                    <!-- <img src="{% static '/blog/img/hacking-science-logo.png' %}" alt=""> -->
                    Hacking Science
                </a>
                <div class="navbar-burger" data-target="blogNavbar">
                        <span></span>
                        <span></span>
                        <span></span>
                </div>
            </div>
            <div id="blogNavbar" class="navbar-menu">
                <div class="navbar-end">
                    <a href="{% url 'about' %}" class="navbar-item">About</a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">Workshops</a>
                        <div class="navbar-dropdown is-boxed">
                            <a href="{% url 'theEdge' %}" class="navbar-item">The Edge</a>
                            <a href="{% url 'bridgeAcademy' %}" class="navbar-item">Bridge-Academy</a>
                            <a href="{% url 'dalstonLibrary' %}" class="navbar-item">Dalston Library</a>
                        </div>
                    </div>
                    <a href="{% url 'events' %}" class="navbar-item">Events</a>
                    <!-- <a href="{% url 'breathe:home' %}" class="navbar-item">mapToBreathe</a> -->
                    <a href="{% url 'subscribe' %}" class="navbar-item">Subscribe</a>
                </div>
            </div>
        </div>
    </nav>
