/* ====== colour modifiers ======= */
.is-primary {
    background-color: #00BC9D;
}
.is-link {
    background-color: #1D92EB;
}
.is-info {
    background-color: #1D92EB;
}
.is-success {
    background-color: #20BE51;
}
.is-warning {
    background-color: #FFD84D;
}
.is-danger {
    background-color: #FF264C;
}
/* ==================== */
/* ========== rounded corner modifers ========== */
.rounded-corners {
    border-radius: 10px;
}


/*=== home/about.html === */
.about__box * {
    margin: 16px 0;
}

.about__content ul {
    list-style: circle;
}

.about {
    margin-bottom: 64px;
    color: white;
}
.about__svg img {
    width: 250px;
}
/* Atom image */
#about__atom {
    width: 200px
}
#about__save-world {
    width: 220px;
}
#about__magazine {
    width: 200px;
}
.about__media {
    display: grid;
}
.about__svg {
    margin: auto;
}


