{% extends '../base.html' %}

{% block content %}




<body class="events-temp-height-90-vh">

    <div class="main-container container is-fluid" style="height: 100%;display: grid;">
        <div class="this-month" style="margin:auto;">
            <p class="title is-4">Events Coming Soon!</p>
        </div>


        <!-- <img src="http://media-assets-05.thedrum.com/cache/images/thedrum-prod/s3-news-tmp-980-artscience--2x1--940.jpg" alt="Placeholder image"> -->



    </div>



</body>
{% endblock %}
