{% extends '../base.html' %}

{% block content %}

<div class="columns is-mobile is-centered">
    <div class="column is-half is-narrow">
        {% for p in posts %}
        {% if p.type == "FEAT" %}
            {% include './feed/feed_feature_blog.html' with p=p %}
        {% elif p.type == "LINK" %}
            {% include './feed/feed_link_blog.html' with p=p %}
        {% else %}
            {% include './feed/blog_tile.html' with p=p %}
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock content %}

