{% extends '../base.html' %}

{% block content %}

 <section class="section">
    <div class="container">
<p class="title is-4">Feed</p>
    <hr>

<form  class="mt-2 mt-md-0" action="{% url 'feed' %}" method="GET" accept-charset="utf-8">
   {% csrf_token %}
   <div class="input-group">
     <input class="form-control form-control-lg" type="text" placeholder="Search Tags" id="searchbar" name="searchbar" value="">
     <span class="input-group-btn">
       <button class="btn btn-info" type="submit">Go!</button>
     </span>
   </div>
</form>

<hr>
        Tags: {% for tag in tags %}
<a href = "{% url 'tag' tag_id=tag.id %}">
    <strong>{{tag.title}}</strong>
</a>{% endfor %}{% if reset %}
<a href = "{% url 'feed' %}">Unapply tag</a>
{% endif %}
<hr>


<div class="columns is-mobile is-centered">
    <div class="column is-half is-narrow">
        {% for p in posts %}
        {% if p.type == "FEAT" %}
            {% include './feed/feed_feature_blog.html' with p=p %}
        {% elif p.type == "LINK" %}
            {% include './feed/feed_link_blog.html' with p=p %}
        {% else %}
            {% include './feed/blog_tile.html' with p=p %}
        {% endif %}
        {% endfor %}
    </div>
</div>
    </div>
 </section>
{% endblock content %}

