{% extends '../base.html' %}

{% block content %}

<div class="subscribe">
    <div class="subscribe__container container is-fluid">
        <div class="subscribe__title-container columns">
            <div class="subscribe__title column is-6 is-offset-3">
                <h1 class="title">Thankyou for Subscribing!</h1>
                <h1 class="title">We have added you to our mailing list and you will now receive our newsletters and updates!</h1>
            </div>
        </div>
    </div>
</div>

{% endblock %}

