.link img {
    width: 128px !important;
    height: 128px !important;
    object-fit: cover;
}
.navbar-brand .title {
    margin: 0;
}

.columns.is-mobile.is-centered {
    margin-top: 32px;
}

.main-container {
    margin-top: 32px;
}
.date.month {
    color: red;
}
.date.day {
    text-align: center;
}

.event .title {
    margin-bottom: 0;
    color: black !important;
}
img {
    object-fit: cover;
}
.event.card {
    border-radius: 10px;
}
.event img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.columns {
    margin-right: 32px;
    margin-left: 32px;
}
.this-month {
    text-align: center;
}

.columns {
    margin: 32px;
}
.this-month p {
    color: white;
    background: #ff6f00;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50px;
    display: inline-block;

}
.upcoming  {
    text-align: center;
    margin-top: 32px;
}
.upcoming p {
    color: white;
    background: #ff6f00;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50px;
    display: inline-block;

}

/* ====== home/subscribe  ====== */

.subscribe__container * {
    margin: 64px 0;
}
