
{% extends 'base/base.html' %} 
{% load staticfiles %}

{% block content %}

<div class="about">
    <div class="about__container container">
        <div class="about__box-container columns">
            <div class="about__box column is-5 is-primary rounded-corners">
                <div class="about__title">
                    <h1 class="title is-2 has-text-white">Science</h1>
                </div>
                <div class="about__subtitle">
                    <h2 class="subtitle is-4 has-text-white">Informal Science</h2>
                </div>
                <div class="about__content">
                    <p>Informal science learning sessions at schools, libraries and youth centres in Hackney where students are introduced to a new area of science and nudged towards independently researching the area as well as career opportunities in the
                        field. Posters are used in the sessions which are also used by the young people to promote the sessions. </p>
                </div>
            </div>
            <div class="column is-7 about__media">
                <div class="about__svg" >
                    <img id="about__atom" src="{% static 'svg/atom.svg' %}" alt="">
                </div>
            </div>
        </div>
        <div class="about__box-container columns">
            <div class="column is-7 about__media">
                    <div class="about__svg">
                        <img src="{% static 'blog/img/coding.png' %}" alt="">
                    </div>
                </div>
            <div class="about__box column is-5 is-danger rounded-corners">
                <div class="about__title">
                    <h1 class="title is-2 has-text-white">Programming</h1>
                </div>
                <div class="about__subtitle">
                    <h2 class="subtitle is-4 has-text-white">Integrated with Science Sessions</h2>
                </div>
                <div class="about__content">
                    <p>Programming sessions integrated with the science sessions where young people create their own electronics project using Raspberry Pis, MicroBits and Arduinos under the supervision of mentors. The sessions aim to create the conditions
                        under which innovation, creativity and imagination can thrive whilst introducing computational thinking, science and research. For example: programming LED lights in RGB and talking about light interaction, using accelerometer
                        and gyroscope to talk about Newtonian physics. </p>
                </div>
            </div>
        </div>
        <div class="about__box-container columns">
            <div class="about__box column is-5 is-info rounded-corners">
                <div class="about__title">
                    <h1 class="title is-2 has-text-white">Environment</h1>
                </div>
                <div class="about__subtitle">
                    <h2 class="subtitle is-4 has-text-white">Issues & Solutions</h2>
                </div>
                <div class="about__content">
                    <p>Linking to the science sessions but dedicated session discussing environmental issues, solutions and the urgency with which we must act on those solutions.</p>
                    <ul>
                        <li> Food sustainability project where students grow their own food in the Young Hackney allotment, learn about nutrition, cook the food and host a community meal.
                        </li>
                        <li> Mapping air quality on the London tube network. Sixth form students work with undergraduate and PhD mentors to develop wearable PM2.5 sensors that will be used to map the air quality on the London tube network.
                        </li>
                        <li>Agriculture and food security blog putting out material on how people can grow their own food.</li>
                    </ul>
                </div>
            </div>
            <div class="column is-7 about__media">
                    <div class="about__svg">
                        <img id="about__save-world" src="{% static 'blog/svg/save_the_world.svg' %}" alt="">
                    </div>
                </div>
        </div>
        <div class="about__box-container columns">
                <div class="column is-7 about__media">
                        <div class="about__svg">
                            <img src="{% static 'blog/svg/painting-palette.svg' %}" alt="">
                        </div>
                    </div>
            <div class="about__box column is-5 is-success rounded-corners">
                <div class="about__title">
                    <h1 class="title is-2 has-text-white">Arts & Science</h1>
                </div>
                <div class="about__subtitle">
                    <h2 class="subtitle is-4 has-text-white">Creative Spaces - Experiments</h2>
                </div>
                <div class="about__content">
                    <p>Reimagining libraries as creative spaces where young people from the local community can collaborate on projects that explore ways to use science to make cool art. Students use skills developed in other hackingEducation sessions and are given the freedom to prototype, experiment with materials, and create expressive art. The aim is to encourage students to conceptualise their ideas and take them to fruition through a medium they are most comfortable with. This project has links to engineering, computer science, art, natural science and mathematics.  </p>
                </div>
            </div>
        </div>
        <div class="about__box-container columns">
            <div class="about__box column is-5 is-primary rounded-corners">
                <div class="about__title">
                    <h1 class="title is-2 has-text-white">History</h1>
                </div>
                <div class="about__subtitle">
                    <h2 class="subtitle is-4 has-text-white">History of Race in the UK</h2>
                </div>
                <div class="about__content">
                    <p>Lecture series on the History of Race in the UK and Civil Rights. 100 sixth form students attend a 3-day event where we create a free online course on the history of race in the UK. All attending students will be supported by undergraduate/postgraduate mentors and will be trained in community organising so that they are equipped with the skills and resources to independently learn and teach the history to other young people in the community. </p>
                </div>
            </div>
            <div class="column is-7 about__media">
                    <div class="about__svg">
                        <img src="{% static 'blog/svg/laptop-with-antique-historical-building-on-screen.svg' %}" alt="">
                    </div>
                </div>
        </div>
        <div class="about__box-container columns">
                <div class="column is-7 about__media">
                        <div class="about__svg">
                            <img id="about__magazine" src="{% static 'blog/svg/magazine.svg' %}" alt="">
                        </div>
                    </div>
            <div class="about__box column is-5 is-warning rounded-corners">
                <div class="about__title">
                    <h1 class="title is-2">Magazine</h1>
                </div>
                <div class="about__subtitle">
                    <h2 class="subtitle is-4">Young People & Parents</h2>
                </div>
                <div class="about__content has-text-black">
                    <p>Producing printed media aimed at young people and parents discussing topical scientific topics through articles, comic strips and illustrations. Tackling representation in science through ‘science fiction’ with comic strips designed by the young people with them as the protagonists on a mission to learn something new. For example Sophie on Mars, Dara vs a supernova. </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}