{% block p %}
 {% load markdown_deux_tags %}
<div class="card box">
    <div class="card-image">
    </div>
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-128x128">
                    <img src="https://i.pinimg.com/736x/85/d0/10/85d010e7e5162cf4994370e2d9d41b62--funny-inspirational-quotes-smart-people.jpg" alt="Placeholder image">
                </figure>
            </div>
            <div class="media-content">
                <p class="title is-4">{{ p.title }}</p>
                <p class="title is-4"><a href="{{ p.content }}">{{ p.content }}</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
