{% block p %}
{% load markdown_deux_tags %}
<article class="feed-item">
    <div class="mdc-card feature-card">
        <div class="mdc-card__media mdc-card__media--16-9">
            <div class="mdc-card__media-content">
                <img src="https://ichef.bbci.co.uk/news/660/cpsprodpb/12FB4/production/_99084777_mediaitem99084776.jpg" alt="Image">
            </div>
        </div>
        <div class="card__primary">
            <h2 class="card__title">{{ p.title }}</h2>

            <!-- Uncomment and when models.py updated -->
            <h3 class="card__subtitle mdc-typography--subheading1">By {{ p.author }}<h3>
        </div>
        <div class="card__secondary">
            {{ p.shorten_content|markdown }}
        </div>
        <div class="mdc-card__actions">
            <div class="mdc-card__action-buttons">
                <button class="mdc-button mdc-card__action mdc-card__action--button">
                        <a href="{% url 'post' post_id=p.id %}">Read</a>
                </button>
            </div>
            <div class="mdc-card__action-icons">
            {% for t in p.get_tags|slice:":4" %}
            <div class="mdc-chip">
                <div class="mdc-chip__text"><a href="{% url 'tag' tag_id=t.id %}">#{{t.title}}</a></div>
            </div>
            {% endfor %}
            </div>
        </div>
    </div>
</article>
{% endblock %}
