{% block p %}
<div class="card box">
    <div class="card-image">
        <figure class="image">
            <img src="http://via.placeholder.com/700x300" alt="Placeholder image">
        </figure>
    </div>
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-48x48">
                    <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                </figure>
            </div>
            <div class="media-content">
                <p class="title is-4"><a href="{% url 'post' post_id=p.id %}">{{ p.title }}</a></p>
                <p class="subtitle is-6">@johnsmith</p>
            </div>
        </div>
        <section class="section">
            <div class="container">
                <p class="title is-4">Feed</p>
                Tags:{% for tag in tags %}
                <a href = "{% url 'tag' tag_id=tag.id %}"><strong>{{tag.title}}</strong></a>
                {% endfor %}
                {% if reset %}
                <a href = "{% url 'feed' %}">Unapply tag</a>
                {% endif %}
            </div>
        </section>
    </div>
</div>
{% endblock %}
