{% block p %} {% load markdown_deux_tags %}
<article class="feed-item">
    <div class="mdc-card link-card">
        <div class="mdc-card__media mdc-card__media--16-9" style="background-image: url('{{ p.link.get_og_image_url }}');">
            <div class="card__media-content mdc-card__media-content">
                <div class="card__media-title mdc-typography--subheading2">
                    <h2 class="card__title">{{ p.title }}</h2>
                </div>
            </div>
        </div>
        <div class="mdc-card__actions mdc-card__action-icons">
            <div class="mdc-card__action-buttons">
                <button class="mdc-button mdc-card__action mdc-card__action--button">
                    <a href="{{ p.link.url }}" target="_blank">Read</a>
                </button>
            </div>
            <div class="mdc-card__action-icons">
                {% for t in p.get_tags|slice:":4" %}
                <div class="mdc-chip">
                    <div class="mdc-chip__text"><a href="{% url 'tag' tag_id=t.id %}">#{{t.title}}</a></div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</article>
{% endblock %}
